.btn {
    font-size: 12px;
    font-weight: bold;
  }
  
  .delete-btn {
    font-size: 12px;
    font-weight: bold;
    background-color: red;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }