<h2>My Heroes</h2>

<button type="button" routerLink="/heroes/new">New</button>

<table >
  <tr>
    <th>Heroe Name</th>
    <th>Power</th>
    <th>Alias</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let hero of heroes">
    <td>{{hero.name}}</td>
    <td>{{hero.alias}}</td>
    <td>{{hero.alias}}</td>
    <td style="text-align: end;">
      <button class="btn" routerLink="/detail/{{hero.id}}">Edit</button>
      <button class="btn delete-btn" id="button-table" (click)="open(hero)">Delete</button>
    </td>
  </tr>
</table>


<dialog #confirmationDialog>
  <p>
    Are you sure you want to delete the hero?
  </p>
  
  <div style="justify-content: end;">
    <button class="btn delete-btn" (click)="onDeleteHero()"> Delete Hero </button>
    <button class="btn" (click)="close()"> Cancel </button>
  </div>
</dialog>
